<!--
  Generated template for the ScanQrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Scan QR</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding [ngClass]="{'transparent' : currentStep == 0}">

    <div *ngIf="currentStep == 0">
      <!-- Bar Code Scanning -->
      <div *ngIf="gotError">
          <button ion-button secondary (click)="startScan()"><ion-icon name='qr-scanner'></ion-icon>&nbsp;Retry Scan</button>
      </div>
    </div>

    <div *ngIf="currentStep == 1">
      <!-- Show QR Code details -->

      <button ion-button secondary (click)="payAmount()"><ion-icon name='cash'></ion-icon>&nbsp;Pay Amount</button>
    </div>

    <div *ngIf="currentStep == 2">
    </div>


</ion-content>
